@font-face {
   font-family: 'DIN Condensed Bold';
   src: url('DIN Condensed Bold/font.ttf');
}
@font-face {
   font-family: 'Times New Roman Italic';
   src: url('Times New Roman Italic/font.ttf');
}
@font-face {
   font-family: 'Arial';
   src: url('Arial/font.ttf');
}
